* {
    box-sizing: border-box;
  }
  
  /* Style the header */
  .perfil {
    background-color: #f1f1f1;
    padding: 10px;
    height: 35vh;
    font-size: 50px;
    text-align: center;
  }
  
  /* Create three unequal columns that floats next to each other */
  .column {
    float: left;
    padding: 10px;
    height: 50vh; /* Should be removed. Only for demonstration */
    font-size: 20px;
    font-size: 20px;
    text-align: center;
  }
  
  /* Left and right column */
  .column.side {
    width: 15%;
  }
  
  /* Middle column */
  .column.middle {
    width: 70%;
  }
  

  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    height: 10vh;
    text-align: center;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media (max-width: 600px) {
    .column.side{
    height: 5vh;
    width: 100%;
    } 
    .column.middle {
      width: 100%;
    }
}